.div-card{
    width: 500px;
    height: 350px;
    padding: 20px 10px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    left: 30%;
}



.img-card{
    width: 180px;
    height: 120px;
    align-items: center;
}